<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8">
    <!--共通CSS読み込み-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <!--共通JS読み込み-->
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <script th:src="@{/js/common.js}" defer></script>
  </head>

  <body>
    <!--ヘッダー-->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand mx-auto" th:href="@{/threads}" th:text="#{bulletinBoard}">掲示板</a>
    </nav>

    <!--コンテンツ-->
    <div layout:replace="~{threads::content}"></div>
  </body>
</html>