.beforeIndent {
  margin-left: 10px;
}

.afterIndent {
  margin-right: 5px;
}

.threadname {
  width: 75%;
}

.threadcounts {
  width: 25%;
}

.threadname-size {
  font-size: 20px;
}

.linkStyle {
  color: black;
}

.linkStyle:hover {
  color: silver;
  text-decoration: none;
}

.errorMessage {
  color: white;
  background-color: #f06060;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
