<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <link rel="stylesheet" th:href="@{/css/messages.css}" />
  </head>

  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2 class="font-weight-bold my-5" th:text="${threadName}">スレッド名</h2>
            <!--メッセージのセット-->
            <div th:each="message,status:${messageList}">
              <span th:text="'#' + ${status.count} + '.'" th:id="|messageNum${status.count}|"></span>
              <span th:text="${#dates.format(message.updatedAt,'yyyy/MM/dd HH:mm:ss')}"> 2022/01/01(土) 10:00:00 </span>
              <span th:text="${message.contributorName}"> 名無しさん </span>
              <i class="fas fa-reply replay-mark pointer" th:onclick="|replay(__${status.count}__)|">
                <span>返信</span>
              </i>
              <div class="my-3">
                <span class="font-weight-bold message-size box-format message" th:text="${message.message}">メッセージ</span>
              </div>
              <hr />
            </div>

            <!--メッセージフォーム-->
            <form method="post" th:action="@{/messages} + '/' + ${threadNumber}" th:object="${makeMessageForm}">
              <div class="form-group">
                <label class="font-weight-bold" for="message" th:text="#{message}">メッセージ</label>
                <textarea id="message" class="form-control" rows="5" th:field="*{message}" th:errorclass="is-invalid"></textarea>
                <div th:errors="*{message}" class="text-danger"></div>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="anonymous" value="0" th:field="*{checkContributorName}" onclick="contributorNameOpenHidden()" />
                <label class="form-check-label" for="anonymous">匿名で投稿</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="onymous" value="1" th:field="*{checkContributorName}" onclick="contributorNameOpenHidden()" />
                <label class="form-check-label" for="onymous">記名で投稿</label>
              </div>
              <div id="contributorNameForm" class="form-group w-25">
                <label class="font-weight-bold" for="contributorName" th:text="#{contributorName}">投稿者名</label>
                <input type="text" class="form-control" id="contributorName" th:field="*{contributorName}" th:errorclass="is-invalid" />
                <div th:errors="*{contributorName}" class="text-danger"></div>
              </div>
              <div class="text-left mt-2">
                <input type="submit" class="btn btn-secondary" th:value="#{post}" name="postMessage" onclick="setAnonymous()" />
              </div>
              <input type="hidden" name="threadNumber" value="1" th:value="${threadNumber}" />
            </form>
          </div>
        </div>
      </div>
      <script th:src="@{/js/messages.js}" defer></script>
      <script type="text/javascript" th:inline="javascript">
        //正規表現設定「>>数字」
        const regex = new RegExp("\>\>\\d*", "g");
        messages = document.querySelectorAll(".message");
        for (const message of messages) {
          //正規表現とマッチしたら
          if (regex.test(message.textContent)) {
            //メッセージ取得
            var messageText = message.textContent;
            //マッチした記号数字配列取得
            var matchNums = messageText.match(regex);
            for (const matchNum of matchNums) {
              //「>>」を省く
              var linkNum = matchNum.substr(2);
              //変更後のテキスト
              var linkText = "<a href=" + [[${threadNumber}]] +"#messageNum" + linkNum + ">" + matchNum + "</a>"
              message.innerHTML = messageText.replace(matchNum, linkText);
              messageText = messageText.replace(matchNum, linkText);
            }
          }
        }
      </script>
    </div>
  </body>
</html>
