<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <link rel="stylesheet" th:href="@{/css/threads.css}" />
    <title th:text="#{bulletinBoardList.window}"></title>
  </head>

  <body>
    <!--コンテンツ-->
    <div layout:fragment="content">
      <div class="container-fluid">
        <div class="row">
          <a class="btn btn-secondary my-5 offset-md-2" th:href="@{/makeThread}"><i class="fas fa-plus"></i><span class="beforeIndent" th:text="#{makeThread}">スレッド作成</span></a>
          <div th:each="thread:${threadList}" class="offset-md-2 col-md-8">
            <a th:href="@{'/messages/' + ${thread.threadNumber}}" class="linkStyle">
              <div th:text="${thread.threadName}" class="threadname threadname-size font-weight-bold box-format">スレッド名</div>
              <span class="threadcounts font-weight-bold"><i class="fas fa-comments afterIndent"></i><th:block th:text="${thread.messageCount}"></th:block>コメント</span>
              <span class="beforeIndent">最終更新日時：</span><span th:text="${#dates.format(thread.updatedAt,'yyyy/MM/dd HH:mm:ss')}"></span>
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
